.thumbnail {
    max-height: 30px;
}

.thumbnail:hover {
    position: relative;
    background-color: white;
    transform: scale(7.5);
    top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.plunder-raw-resource {
    padding-right: 10px;
}