.thumbnail {
    max-height: 30px;
}

.thumbnail:hover {
    position: relative;
    background-color: white;
    transform: scale(7.5);
    top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#army-info .row {
    line-height: 33px;
}

#all-battles {
    margin-left: 0.75rem
}

#show-all-battles {
    margin: 2px 0;
}

.plunder-raw-resource {
    padding-right: 10px;
}

.unit-portrait {
    margin-right: 1px;
}

.unit-portrait:hover {
    top: 95px;
}

.nav-button {
    display: block;
    padding: .5rem;
    text-decoration: none;
    margin: 5px;
    color: #007bff;
    background-color: rgb(226, 226, 226);
    border: 1px solid transparent;
    border-radius: .5rem;
}

.nav-button:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: rgb(226, 226, 226);
}

.nav-button.active {
    background-color: transparent;
    border-color: black;
}

.nav-button:focus {
    outline: none;
}

.collapse, .collapsing {
    display: inline-block;
    padding: .5rem;
    margin: 5px;
    background-color: rgb(226, 226, 226);
    border: 1px solid transparent;
    border-radius: .5rem;
}

.card {
    padding: .5rem;
    margin: 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: .5rem;
}